*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9f6f2;
    margin:0;
    
}

.header{
    padding: 0 20px;
    height: 40px;
    display: flex;
    background-color: #CCCCFF	;
    justify-content: space-between; 
    align-items: center;
}

.navbar{
        /* margin-right: auto; */
    display: flex;    
}  

.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    margin-left: 65rem; 
}

.button:hover{
    color: white;
    background-color: black;
    border: none;
}


@media (max-width: 780px) {
    .button {
        margin-left: 35rem; 
    }
}

@media (max-width: 350px) {
    .button {
        margin-left: 75px; 
    }
}


.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.card-img-top{
    border-radius: 10px;
    padding: 5px;
}
.card{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 1px 2px 0px;
}
.card-body{
    padding: 25px;
    margin-top: -15px;
}

.btn-primary{
    border-radius: 50px;
    width: 120px;
}

.btn-primary:hover{
    background-color: black;
    border: none;
}

h2,h5{
    color: rgb(0,91,228);
}